<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>FNB Mancala Game</title>
</head>
<body>
<h1>Play Mancala Game</h1>
<form action="/play" method="get">
    <button type="submit" value="Sumbit">START GAME</button>
</form>
</body>
</html>